@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Italiana&display=swap");
@import "tailwindcss";

:root {
  /* COLORS */
  --background: #f1ebd8;
  --foreground: #181411;

  --primary: #6f4e37;
  --secondary: #b98d58;
  --accent: #d9b36a;

  --muted: #ede5da;
  --border: #d8ccbc;

  /* SPACING */
  --container: 1400px;

  /* RADIUS */
  --radius-sm: 10px;
  --radius-md: 18px;
  --radius-lg: 28px;

  /* SHADOW */
  --shadow-soft: 0 10px 40px rgba(0, 0, 0, 0.08);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --color-muted: var(--muted);
  --color-border: var(--border);

  --font-sans: var(--font-body), sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

::selection {
  background: var(--secondary);
  color: white;
}

/* TYPOGRAPHY SYSTEM */
.brand-font {
  font-family: var(--font-brand), cursive !important;
}

.heading-font {
  font-family: var(--font-heading), serif !important;
}

/* GLASS */
.glass {
  background: rgba(255, 255, 255, 0.38);
  backdrop-filter: blur(28px);
  -webkit-backdrop-filter: blur(28px);
  border: 1px solid rgba(255, 255, 255, 0.55);
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.08),
    inset 0 1px 1px rgba(255, 255, 255, 0.45);
}

@font-face {
  font-family: "Amsterdam";
  src: url("/fonts/AmsterdamFour.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
